h1 {
    text-align: center;
}

#gameboard-ctn {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    flex: 1 1 auto;
    min-height: 500px;
}

#gameboard-ctn button {
    min-height: 20px;
    font-size: 40px;
}

